@import "./typefaces/Avenir/_avenir.scss";

.blog-item {
    font-family: 'Avenir', serif;

    &__title {
        margin-bottom: 0.5rem;
        &:after {
            content: ">";
        }
    }

    &__location-team {
        margin-bottom: 1rem;
        text-transform: uppercase;
        color: $gray;
    }

    &__desc {

    }
}
