@import "./typefaces/FidelitySans/_fidelity-sans.scss";
@import "./typefaces/Roboto/_roboto.scss";

.blog-item {

    &__title {
        font-family: "Fidelity Sans Bold", sans-serif;
        margin-bottom: 0.5rem;
        &:after {
            content: ">";
        }
    }

    &__location-team {
        font-family: "Roboto", sans-serif;
        margin-bottom: 1rem;
        text-transform: uppercase;
        color: $gray;
    }

    &__desc {
        font-family: "Roboto", sans-serif;
    }
}
