@font-face {
    font-family: "Fidelity Sans", sans-serif;
    src: url('/src/vendor/typefaces/Fidelity Final Font/OTF desktop/FidelitySans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fidelity Sans Bold", sans-serif;
    src: url('/src/vendor/typefaces/Fidelity Final Font/OTF desktop/FidelitySans-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
