@font-face {
    font-family: Fidelity Sans, sans-serif;
    src: url('/src/vendor/typefaces/Fidelity Final Font/Web/FidelitySans-Regular_WEB.otf');
    src: url('/src/vendor/typefaces/Fidelity Final Font/Web/FidelitySans-Regular_WEB.otf') format('otf'),
        url('/src/vendor/typefaces/Fidelity Final Font/Web/FidelitySans-Regular_WEB.eot') format('eot'),
        url('/src/vendor/typefaces/Fidelity Final Font/Web/FidelitySans-Regular_WEB.tf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Fidelity Sans Bold, sans-serif;
    src: url('/src/vendor/typefaces/Fidelity Final Font/Web/FidelitySans-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
