@font-face {
    font-family: 'Avenir';
    src: url('/src/vendor/typefaces/Avenir/Avenir.ttc');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Black';
    src: url('/src/vendor/typefaces/Avenir/Avenir-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('/src/vendor/typefaces/Avenir/Avenir-Book.otf');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Avenir Next';
//     src: url('../../../vendor/typefaces/Avenir Next.ttc');
//     font-weight: normal;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: "Avenir Next Condensed";
//     src: url('../../../src/vendor/typefaces/Avenir Next Condensed.ttc');
//     font-weight: normal;
//     font-style: normal;
// }
